body {
    font-family: 'Baloo', sans-serif;
    background-color: white;
    overflow: hidden;
    max-width: 1180px;
    margin: auto;
    /* color: white;
    background-color: rgb(46, 55, 61); */
}

a {
    text-decoration: none;
}

/* .MuiSwitch-colorSecondary.Mui-checked {
    color: #28f738;
} */

a:visited {
    color: inherit;
}

@media screen and (min-width: 768px) {
    /* body {
        background-color: red;
    } */
}

.particles {
    position: absolute;
    z-index: 0;
    left: 0;
    background: linear-gradient(#4ac181, #449052);
    height: 100%; 
    width: 100%;
}

span.MuiSwitch-switchBase.Mui-checked {
    color: #8bc34a;
}

span.MuiSwitch-switchBase.Mui-checked:hover {
    background-color: #8bc34a11;
}

.PrivateSwitchBase-input-44.MuiSwitch-input {
    color: #8bc34a;
    background-color: #8bc34a;
}

.PrivateSwitchBase-input-16 {
    opacity: 1;
}

span.MuiSwitch-root {
    color: black;
}

.MuiIconButton-root:hover {
    background-color: rgba(0, 0, 0, 0.04);
}